.split-ring {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 2%;
}

.split-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid #fff;
    /* the border color transparenty is what makes it look like
    two white curves rotating  👇🏼 */
    border-color: #fff transparent #fff transparent;
    animation: split-ring 2s linear infinite;
}

/*changing the transparent to a color for fun*/
.bicolor:after{
    border-color: #fff #eeaeca #fff #eeaeca;
}


/* evidently, can't make a rainbow circle spinner
but I tried so now it's a square */
.rainbow:after {
    border: 10px solid transparent;
    border-width: 10px;
    z-index: -1;
    border-image: 
    linear-gradient(to bottom right, #b827fc, #2c90fc, #b8fd33, #fec837, #fd1892) 1;
}

@keyframes split-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}